.custom_btn_wrapper{
    display: block;
    text-decoration: none;
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    background-color: #EB5757;
}

.custom_btn_wrapper:hover{
    background-color: #222222;
    transition: background-color 300ms ease;
}

.btn_cont{
    width: 100%;
    box-sizing: border-box;
}